extends ../layout

block content
  .card
    .card-header
      h3 Email Sent
    .card-body
      p If your address is in our database, we've sent you a link. It will expire in one hour.
    .card-footer
      a.btn.btn-primary.float-right(href='/', role='button') Home
