extends ../layout

block content
  .card
    .card-header
      h3 Password Updated
    .card-body
      p Please use your new password going forward.
    .card-footer
      a.btn.btn-primary.float-right(href='/account', role='button') Account
