extends ../../layout

block content
  .card
    .card-header
      h3 Email Verified!
    .card-body
      p You have confirmed your email.
      p Feel free to head over to your account.
    .card-footer
      a.btn.btn-primary.float-right(href='/account', role='button') Account
